# ========================
# Environment variables
# ========================
.env

# ========================
# Secrets / credentials
# ========================
*.json
IA/*.json
IA/harmonyvpocr-07dfbad813ad.json

# ========================
# Google Cloud
# ========================
**/service-account*.json
**/credentials*.json

# ========================
# OS / Editor
# ========================
.DS_Store
.idea/
.vscode/

# ========================
# Go build artifacts
# ========================
bin/
tmp/
